:root.theme-dark {
  --page-bg-color: #000028;
  --page-bg-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --accent-title-color: #db00ff;
  --text-color: #f1b2ce;
  --title-decor-text-color: #000028;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --rec-display: block;
}