.page {
  margin: 0;
  max-inline-size: 1024px;
  margin-inline: auto;
  padding-inline: var(--page-padding-inline);
  padding-block: var(--page-padding-block);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-inline-end: 0;
  inset-block-start: 0;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  inset-inline-start: 0;
  inset-block-end: 0;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header,
.footer {
  min-block-size: 100vh;
  min-height: var(--header-footer-min-height);
}

.header {
  display: grid;
  align-content: space-between;
  padding-block: 10px;
}

.header__rec {
  display: var(--rec-display);
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 10px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.4;
}

.header__rec::after {
  content: '';
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 2px;
  color: var(--button-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: currentColor;
  opacity: 0.4;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__title,
.footer__title {
  color: var(--accent-title-color);
  font-size: clamp(7.25rem, 6.9375rem + 1.3333vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  justify-self: end;
  inline-size: min(100%, 355px);
  margin-block-end: 2px;
}

.title-decor {
  color: var(--title-decor-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

.content {
  display: grid;
  gap: var(--content-gap);
  margin-block: 40px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.section-title {
  color: var(--section-title-color);
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
}

.cards-group {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title,
.card__subtitle {
  font-size: 18px;
  line-height: 1.3;
}

.card__subtitle {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
}

.tip-list {
  display: grid;
  gap: 20px;
}

.gallery {
  gap: 10px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__item img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-block: 10px;
}

@media (width >= 768px) {
  .header,
  .footer {
    padding-block: 20px;
  }

  .header__rec {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__title,
  .footer__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5634rem + 14.451vw, 9.8125rem);
  }

  .header__description {
    inline-size: min(100%, 364px);
  }

  .content {
    margin-block: 60px;
  }

  .reasons,
  .advice {
    grid-template-columns: minmax(236px, 1fr) minmax(0, 2fr);
    column-gap: 20px;
  }

  .reasons .cards-group,
  .advice .cards-group {
    grid-column: 2;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }

  .gallery__item_sunset {
    grid-column: 1 / 3;
  }

  .gallery__item_icecream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header {
    padding-block: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__description {
    inline-size: min(100%, 491px);
  }

  .reasons,
  .advice {
    grid-template-columns: minmax(315px, 1fr) minmax(0, 2fr);
  }

  .factors {
    grid-template-columns: minmax(315px, 1fr) minmax(0, 2fr);
    column-gap: 20px;
  }

  .cards-group_columns {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: start;
  }
}
